 
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
}


p::first-letter {
    color: blue;
}


p.importante:first-line {
    background-color: yellow;
}


h1::before {
    content: "INICIO >>> "; 
    color: red;
}


p.destaque::after {
    content: " <<< FIM";
    color: green;
}


ul li::marker {
    color: orange;
    font-size: 20px; 
}

::selection {
    background-color: gray;
    color: white;
}

input::placeholder {
    color: purple;
}

p::before {
    content: "Nota: ";
    color: blue;
    font-weight: bold;
}

p.destaque::first-line {
    background-color: pink;
}


h1::selection {
    background-color: black;
    color: white;
}


p::first-letter {
    color: red;
    font-size: 24px; 
}


body p:first-letter{
    color: blue;
    font-size: 24px;
}

input::placeholder {
    background-color: lightgray;
    color: purple;

}
