/* LINKS */

a {
  color: blue;
  text-decoration: none;
}


a:hover {
  color: orange;
}


a:visited {
  color: purple;
}


a:focus {
  outline: none;
  border: 2px solid red;
  padding: 2px;
}

/* LISTAS */

ul li:first-child {
  font-weight: bold;
}


ul li:last-child {
  color: green;
}


ul li:nth-child(odd) {
  background-color: #add8e6; 
}


ul li:nth-child(even) {
  background-color: #e6ccff; 
}


/* TÍTULOS */
:is(h1, h2, h3) {
  color: darkblue;
}

/* LISTA - todos menos o primeiro */
ul li:not(:first-child) {
  font-style: italic;
}

/* CAMPOS OBRIGATÓRIOS */
input[required],
textarea[required] {
  border: 2px solid orange;
}

/* DESTAQUE CAMPOS ATIVOS */
input:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(0, 128, 255, 0.7);
}

/* VERIFICAÇÃO DE EMAIL */
input[type="email"]:valid {
  border-color: green;
}

input[type="email"]:invalid {
  border-color: red;
}

/* TEXTO COM CHECKBOX MARCADO */
input[type="checkbox"]:checked,
input[type="checkbox"]:checked{
  color: darkgreen;
}

